*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  margin: 0;
  background: linear-gradient(#2a75ff,#fd440b);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.logo{
  height: 90px;
  width: auto;
  margin-left: 60px;
}


@import "../node_modules/bootstrap/scss/bootstrap";
